/* _content/SellingKoi/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pf8f0mwo49] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pf8f0mwo49] {
  color: #0077cc;
}

.btn-primary[b-pf8f0mwo49] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pf8f0mwo49], .nav-pills .show > .nav-link[b-pf8f0mwo49] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pf8f0mwo49] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pf8f0mwo49] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pf8f0mwo49] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pf8f0mwo49] {
  font-size: 1rem;
  line-height: inherit;
}

html[b-pf8f0mwo49], body[b-pf8f0mwo49] {
  height: 100%;
  margin: 0;
}

body[b-pf8f0mwo49] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper[b-pf8f0mwo49] {
  flex: 1 0 auto;
}

footer[b-pf8f0mwo49] {
  flex-shrink: 0;
  background-color: #f8f9fa; /* Light gray background, adjust as needed */
  color: #333; /* Dark text color, adjust as needed */
  padding: 20px 0;
}

.footer-logo[b-pf8f0mwo49] {
  display: flex;
  align-items: center;
}

.footer-logo img[b-pf8f0mwo49] {
  margin-right: 10px;
}

.footer h3[b-pf8f0mwo49] {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #0056b3; /* Adjust the color as needed */
}

.footer ul[b-pf8f0mwo49] {
  padding-left: 0;
}

.footer ul li[b-pf8f0mwo49] {
  margin-bottom: 0.5rem;
}

.footer a[b-pf8f0mwo49] {
  color: #6c757d; /* Adjust link color as needed */
  text-decoration: none;
}

.footer a:hover[b-pf8f0mwo49] {
  color: #0056b3; /* Adjust hover color as needed */
  text-decoration: underline;
}

.list-unstyled[b-pf8f0mwo49]{
  text-decoration: none;
}
